.container {
  &.features {
    .row {
      .div {
        transition: all 1s;
      }
    }
  }
}
.container.features {
  .row.justify-evenly {
    .col-3 {
      transition: all 2s;
    }
  }
}

.card {
  &.mini {
      transition: all 0.7s;
  }
}
