.card {
  box-shadow: rem(2) rem(4) rem(4) #d2d0d0;
  border-radius: rem(6);
  padding: rem(46) rem(20);
  background: white;
  text-align: center;

  img.card-image {
    padding: rem(10) rem(0) rem(15);
  }

  h2.title {
    margin: rem(10);
    font-weight: 200;
  }
  h6.description {
    font-weight: 200;
    font-size: rem(14);
    color: #676666;
  }
}
