.container.features {
  .row.justify-evenly {
    .col-3 {
      opacity: 0;
    }
  }
}

.card {
  box-shadow: rem(2) rem(4) rem(4) #d2d0d0;
  border-radius: rem(6);
  padding: rem(46) rem(20);
  background: white;
  text-align: center;

  img.card-image {
    padding: rem(10) rem(0) rem(15);
  }

  h2.title {
    margin: rem(10);
    font-weight: 200;
  }
  h6.description {
    font-weight: 200;
    font-size: rem(14);
    color: #676666;
  }

  &.mini {
    width: rem(80);
    height: rem(80);
    margin: rem(12);
    padding: rem(14);
    opacity: 0;
  }

  img.logo-mini {
    height: 100%;
  }
}

@media screen and (max-width: 1112px) {
  .card {
    &.mini {
      width: rem(70) !important;
      height: rem(70) !important;
      margin: rem(12) !important;
      padding: rem(14) !important;
    }
  }
}
@media screen and (max-width: 768px) {
  #show-icons {
    justify-content: center;
    div.row.justify-center {
      flex: 0 0 80% !important;
      max-width: 80% !important;
    }
  }
}

@media screen and (max-width: 576px) {
  .card {
    &.mini {
      max-width: 33.33%;
      max-height: 33.33%;

      &:nth-child(2),
      &:nth-child(7),
      &:nth-child(12),
      &:nth-child(13),
      &:nth-child(14),
      &:nth-child(15),
      &:nth-child(16) {
        display: none;
      }
    }
  }
}

@media screen and (max-width: 452px) {
  .card {
    &.mini {
      width: 50%;
      height: 50%;

      &:nth-child(2),
      &:nth-child(3),
      &:nth-child(7),
      &:nth-child(8),
      &:nth-child(9),
      &:nth-child(10),
      &:nth-child(11),
      &:nth-child(12),
      &:nth-child(13),
      &:nth-child(14),
      &:nth-child(15),
      &:nth-child(16) {
        display: none;
      }
    }
  }
}
