.row {
  display: flex;
  flex-wrap: wrap;

  &.justify-evenly {
    justify-content: space-evenly;
  }

  &.justify-space-between {
    justify-content: space-between;
  }

  &.flex-reverse {
    flex-direction: row-reverse;
  }

  .col-1 {
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }

  .col-2 {
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }

  .col-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }

  .col-4 {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }

  .col-5 {
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }

  .col-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .col-7 {
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }

  .col-8 {
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }

  .col-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }

  .col-10 {
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }

  .col-11 {
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }

  .col-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
.container {
  margin: rem(30) rem(40);

  &.flex {
    display: flex;
  }

  /* Ap Information */
  .app-info {
    margin: 12% rem(0);
    padding-right: rem(60);

    h1.title {
      font-size: rem(32);
      margin: rem(20) rem(0);
      color: #454344;
    }
    h3.description {
      font-size: rem(16);
      margin: rem(20) rem(0) rem(50);
      color: #4f4d4e;
    }

    .buttons-container {
      img {
        height: rem(50);
        margin-right: rem(50);
      }
    }
  }

  /* Features */
  &.features {
    margin: rem(20) rem(0);
    padding: rem(70) rem(60);
    background: #f7ffdc;
  }
}

/* Container Video */
.video-container {
  padding: rem(80) 15%;
  text-align: center;

  h1.title {
    font-weight: 800;
    color: #454344;
    margin: rem(20) rem(0);
  }

  h3.description {
    font-size: rem(16);
    color: #4f4d4e;
    margin: rem(20) rem(0);
  }
}

/* Container App Featured */

.app-featured-container {
  padding: rem(20);

  h1.title {
    text-align: center;
    margin: rem(10) 0 rem(50) 0;
  }

  .feature {
    margin: rem(0) rem(0) rem(30) rem(0);
    h2.title {
      color: #454344;
      margin: rem(10) rem(0);
    }
    h3.description {
      color: #454344;
      font-weight: 200;
      margin: rem(10) rem(0);
    }
  }
}

h1.title {
  font-size: rem(32);
  color: #454344;
  font-weight: 600;

  &.medium {
    font-size: rem(24);
    font-weight: 600;
  }
}

h3.description {
  color: #454344;
  font-weight: 200;
}
