#navbar {
  display: flex;
  justify-content: space-between;

  .nav-container {
    width: 50%;

    &.flex {
      display: flex;

      &.justify-end {
        justify-content: flex-end;
      }
    }
  }
}
