#navbar {
  display: flex;
  justify-content: space-between;
  margin-bottom: rem(40);

  .nav-container {
    width: 50%;

    &.flex {
      display: flex;

      &.justify-end {
        justify-content: flex-end;
      }
    }

    img.logo {
      position: relative;
      left: rem(100);
      opacity: 0;
    }
  }
  #profile-controls {
    opacity: 0;
  }
}
@media screen and (max-width: 768px) {
  #navbar {
    display: block;
    .nav-container {
      width: 100%;
      text-align: center;
    }
    #profile-controls {
      .text-button {
        display: none;
      }

      .text-button:first-child {
        &:after {
          content: '';
        }
        h4 {
          display: none;
        }
        img {
          display: block;

          position: absolute;
          top: 8%;
          right: 8%;
        }
        display: block;
      }
    }
  }
}
