$x: 0;

@while $x < 55 {
  .m-#{$x} {
    margin: rem(#{$x});
  }
  .mt-#{$x} {
    margin-top: rem(#{$x});
  }
  .mr-#{$x} {
    margin-right: rem(#{$x});
  }
  .mb-#{$x} {
    margin-bottom: rem(#{$x});
  }
  .ml-#{$x} {
    margin-left: rem(#{$x});
  }
  $x: $x + 5;
}

$y: 0;

@while $y < 55 {
  .p-#{$y} {
    padding: rem(#{$y});
  }
  .pt-#{$y} {
    padding-top: rem(#{$y});
  }
  .pr-#{$y} {
    padding-right: rem(#{$y});
  }
  .pb-#{$y} {
    padding-bottom: rem(#{$y});
  }
  .pl-#{$y} {
    padding-left: rem(#{$y});
  }
  $y: $y + 5;
}
