.background {
  &.dodger-blue {
    background: $dodger-blue;
  }
  &.vermilion {
    background: $vermilion;
  }
  &.medium-purple {
    background: $medium-purple;
  }
  &.school-bus-yellow {
    background: $school-bus-yellow;
  }
}
